html {
    height: 100%;
    background-image: url("https://i.postimg.cc/HW0q3mhN/Webp-net-resizeimage-1.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-index {
    background: no-repeat center center / cover url("https://i.postimg.cc/HW0q3mhN/Webp-net-resizeimage-1.jpg");
    height: 100%;
    color: #ffffff;
}

.games {
    color: black;
}

.go {
    width: 200px;
    height: 130px;
    font-weight: bold;
    font-size: 3.5em;
    margin-left: 400px;
}

.cont-index {
    margin: 70px 0;
    background: no-repeat center center / cover url("https://media.giphy.com/media/l0He3o8pL9AebplFm/source.gif");
    font-size: 2em;
}